In [1]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem.snowball import FrenchStemmer

In [2]:
fichiertest = "../../datasources/films/allocine_bigfoot_avis.csv"
test = pd.read_csv(fichiertest)

In [3]:
fichiertrain = "../../datasources/films/allocine_inception_avis.csv"
train = pd.read_csv(fichiertrain)

In [4]:
train.head()

  Note                                        Description  key
0  5,0  après le chef doeuvre super héroïque the dark ...    0
1  5,0  souvent l’on peut manquer d’inspiration ou de ...    1
2  5,0  chef d’œuvre  le film est absolument parfait  ...    2
3  3,5  le meilleur blockbuster de 2010 a pour thème l...    3
4  5,0  un film aussi novateur que complexe dont la mi...    4

In [7]:
REMPLACE_SANS_ESPACE = re.compile("[;:!\'?,\"()\[\]]")
REMPLACE_AVEC_ESPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)|[.]")
PUR_NOMBRE = re.compile("[0-9]")

def setClassBin(i):
    if (float(i.replace(',', '.')) > 3):
        return 1
    else:
        return 0
    
def preprocess(txt):
    txt = [PUR_NOMBRE.sub("", (str(line)).lower()) for line in txt] # retire les nombres (comme les années)
    txt = [line.replace('\n', ' ')  for line in txt] # Retire les \n (retours chariots)
    txt = [REMPLACE_SANS_ESPACE.sub("", line.lower()) for line in txt]
    txt = [REMPLACE_AVEC_ESPACE.sub(" ", line) for line in txt]
    return txt

def prepare_dataset(X):
    X['Description'] = pd.DataFrame(preprocess(X['Description']))
    french_stopwords = set(stopwords.words('french'))
    filtre_stopfr =  lambda text: [token for token in text if token.lower() not in french_stopwords]
    X['Description'] = [' '.join(filtre_stopfr(word_tokenize(item))) for item in X['Description']]
    stemmer = FrenchStemmer()
    X['Description'] = [stemmer.stem(w) for w in X['Description']]
    
    yList = [setClassBin(x) for x in X.Note]
    y = pd.DataFrame(yList)
    
    X = X.drop('Note', axis=1)
    return X, y

In [8]:
Xtrain, ytrain = prepare_dataset(train)

In [9]:
Xtrain

                                            Description  key
0     après chef doeuvre super héroïque the dark kni...    0
1     souvent ’ peut manquer ’ inspiration motivatio...    1
2     chef ’ œuvre film absolument parfait acteurs t...    2
3     meilleur blockbuster a thème délicate différen...    3
4     film aussi novateur complexe dont mise scène t...    4
...                                                 ...  ...
5995  nai quune chose dire allez voir non bonne simp...   10
5996  tout simplement fantastique très bon scénario ...   11
5997  cest beau cest bien fait ça regarde vraiment p...   12
5998  meilleur film sf jai vue linterprétation dicap...   13
5999      magnifique merveille cinématographique a voir   14

[6000 rows x 2 columns]

In [10]:
ytrain

      0
0     1
1     1
2     1
3     1
4     1
...  ..
5995  1
5996  1
5997  1
5998  1
5999  1

[6000 rows x 1 columns]